/*-------------------------------------------------------- Hero image section */

.index-hero-img {
    background: url('/media/index_hero_image.jpg') no-repeat center;
    background-size: cover;
    width: 100%;
    min-height: 900px;
}

.index-title {
    color: #F8ECED !important;
    padding-top: 400px;
}

/*-------------------------------------------------------- More information section */

.forest-img {
    background: url('/media/index_forest_image.jpg') no-repeat center;
    background-size: cover;
    width: 100%;
    min-height: 700px;
}

.forest-img-box {
    background-color:#F2F4F9;
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.2);
    margin-top: 15%;
}

/*-------------------------------------------------------- Carousel section */

.carousel-item>img{
    max-height: 700px;
}

.index-eat-img {
    overflow: hidden;
}
