/*-------------------------------------------------------- Hero image section */

.index-hero-img {
    background: url('/media/index_hero_image.jpg') no-repeat center;
    background-size: cover;
    width: 100%;
    min-height: 800px;
}

.index-hero-box {
    min-height: 70px;
    background-color: #fff;
    box-shadow: 0 0 2px 2px #D3E0E7;
    position: sticky;
}

.index-hero-box h1 {
    color: #251D1D !important;
}

/*-------------------------------------------------------- More information section */

.forest-img {
    background: url('/media/index_forest_image.jpg') no-repeat center;
    background-size: cover;
    width: 100%;
    min-height: 900px;
    background-attachment: fixed;
}

.forest-img-box {
    background-color:#FFF;
    box-shadow: 0 10px 10px 0 #251D1D;
    margin-top: 15%;
    border: 1px solid #466060; 
}

#learn-more-btn {
    min-width: 300px;
    background-color: #251D1D;
    border: 2px solid #251D1D;
    font-size: 28px;
}

#learn-more-btn:hover {
    background-color: #fff;
    color: #251D1D;
}

/*-------------------------------------------------------- Carousel section */

.carousel-item>img{
    max-height: 700px;
}

.index-eat-img {
    overflow: hidden;
}

.carousel-btn {
    border: 2px solid #251D1D; 
    color: #251D1D;
    background-color: #fff;
    font-size: 30px;
    margin-bottom: 280px;
}

.carousel-btn:hover {
    color: #fff;
    background-color: #251D1D;
}

.carousel-icons-style {
    color: #76A1B1;
    font-size: 40px;
}

.carousel-indicators li {
    background-color: #76A1B1;
}

/*-------------------------------------------------------- Media queries */

@media screen and (max-width: 767px){
    .carousel-btn {
        display: none;
    }
}
