{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row standard-header-box">
            <div class="col-12">
                <h1 class="standard-title box-title text-center">My Account</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-6">
                {% if retreat_items %}
                    <!--Introduction for users without any items in their retreat-->
                    {% include 'profiles/includes/profile_retreat_contents.html' %}
                {% elif not retreat_items %}
                    <!--Introduction for users with items already in their retreat-->
                    {% include 'profiles/includes/profile_no_retreat.html' %}
                {% endif %}
            </div>
            <div class="col-12 col-lg-6 account-img">
            </div>
        </div>
        <div class="row standard-header-box">
            <div class="col-12">
                <h1 class="standard-title box-title text-center">My Details</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-6">
                <h2 class="standard-title">Account details:</h2>
                <form class="mt-3" action="{% url 'profile' %}" method="POST" id="profile-update-form">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button class="btn">Update Information</button>
                </form>
            </div>
            <div class="col-12 col-lg-6">
                <h2 class="standard-title">Order History:</h2>
                {% if orders %}
                    <!--Include if user already has booking history-->
                    {% include 'profiles/includes/order_history.html' %}
                {% elif not orders %}
                    <!--Include if users don't have any bookings-->
                    {% include 'profiles/includes/no_order_history.html' %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

<!--Courtesty of CI Boutique Ado project-->
{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'profiles/js/countryfield.js' %}"></script>
{% endblock %}