/*-------------------------------------------------------- Hero image section */

.about-hero-img {
    background: url('/media/about_hero_image.jpg') no-repeat center;
    background-size: cover;
    width: 100%;
    min-height: 600px;
    background-attachment: fixed;
}

/*-------------------------------------------------------- Steps section */

.step-title {
    font-size: 35px;
}

/*-------------------------------------------------------- Reviews section */

/*-------------------------------------------------------- Links section */

.links-img {
    background: url('/media/index_forest_image.jpg') no-repeat center;
    background-size: cover;
    width: 100%;
    min-height: 400px;
}

.links-img a {
    margin-top: 120px;
}

/*-------------------------------------------------------- Media queries */

@media screen and (max-width: 991px){
    .links-img a {
        margin-top: 48px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px){
    .about-hero-img{
      min-height: 850px;
    }
}