/*-------------------------------------------------------- Hero image section */

.about-hero-img {
    background: url('/media/about_hero_image.jpg') no-repeat center;
    background-size: cover;
    width: 100%;
    min-height: 600px;
    background-attachment: fixed;
}

/*-------------------------------------------------------- Steps section */

.step-title {
    font-size: 30px;
    font-family: 'Poiret One', cursive;
    color: #251D1D;
}

.organic-img {
    background: url('/media/about_organic.jpg');
    width: 100%;
    max-height: 900px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 80%;
}

.introduction-bg {
    background-color: #fff;
    padding-left: 50px;
}

.step-title {
    font-size: 100px;
}

/*-------------------------------------------------------- Reviews section */

/*-------------------------------------------------------- Links section */

.links-img {
    background: url('/media/index_forest_image.jpg') no-repeat center;
    background-size: cover;
    width: 100%;
    min-height: 400px;
}

.links-img a {
    margin-top: 120px;
}

/*-------------------------------------------------------- Media queries */
@media screen and (max-width: 991px){
    .step-title {
        font-size: 45px;
    }
}

@media screen and (max-width: 991px){
    .links-img a {
        margin-top: 48px;
    }
    .organic-img {
        height: 200px !important;
    }
    .introduction-bg {
        padding-left: 30px;
        padding-right: 0px;
    }   
}

@media screen and (min-width: 768px) and (max-width: 1024px){
    .about-hero-img{
      min-height: 850px;
    }
}