/*-------------------------------------------------------- All services pages */

ul {
    list-style-type: none;
}

.learn-more-link {
    padding: 0;
}

.feature-img {
    max-height: 500px;
    background-size: cover;
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
}

/*-------------------------------------------------------- stay.html */

.stay-hero-img {
    background: url('/media/index_stay.jpg') no-repeat center;
    background-size: cover;
    width: 100%;
    min-height: 600px;
    background-attachment: fixed;
}

/*-------------------------------------------------------- relax.html */

.relax-hero-img {
    background: url('/media/index_relax.jpg') no-repeat center;
    background-size: cover;
    width: 100%;
    min-height: 600px;
    background-attachment: fixed;
}

/*-------------------------------------------------------- eat.html */

.eat-hero-img {
    background: url('/media/index_eat.jpg') no-repeat center;
    background-size: cover;
    width: 100%;
    min-height: 600px;
    background-attachment: fixed;
}

