/*-------------------------------------------------------- All services pages */

ul {
    list-style-type: none;
}

.learn-more-link {
    padding: 0;
}

.feature-img {
    width:  100%;
    height: 400px;
    object-fit: cover;
    border-right: 2px solid #251D1D; 
}

.service-card {
    background-color:#f8f8ff;
    box-shadow: 0 5px 5px 0 #4A3832;
    border: 2px solid #251D1D; 
    margin-left: 10%;
    margin-right: 10%;
}

.service-card a {
    padding: 5px 10px 5px 10px;
}

/*-------------------------------------------------------- Service details page */

.feature-img-hero {
    width: 100%;
    height: 600px;
    object-fit: cover;
}

#land-img {
    height: 600px;
    object-fit: cover;
    object-position: 0px 80%;
}

.detail-form {
    margin-right: 20%;
    margin-left: 20%;
}

/*-------------------------------------------------------- stay.html */

.stay-hero-img {
    background: url('/static/images/index_stay.jpg') no-repeat center;
    background-size: cover;
    width: 100%;
    min-height: 600px;
    background-attachment: fixed;
}

/*-------------------------------------------------------- relax.html */

.relax-hero-img {
    background: url('/static/images/index_relax.jpg') no-repeat center;
    background-size: cover;
    width: 100%;
    min-height: 600px;
    background-attachment: fixed;
}

/*-------------------------------------------------------- eat.html */

.eat-hero-img {
    background: url('/static/images/index_eat.jpg') no-repeat center;
    background-size: cover;
    width: 100%;
    min-height: 600px;
    background-attachment: fixed;
}

@media screen and (min-width: 320px) and (max-width: 450px){
    .service-card {
        margin-left: 5px;
        margin-right: 5px;
    }
    .service-card button {
        margin-left: 15%;
    }
}

@media screen and (width: 320px) {
    .service-card button {
        margin-left: 15px;
    }
}

@media screen and (min-width: 270px) and (max-width: 280px){
    .service-card button {
        margin-left: 0px;
    }
    .service-card {
        margin-left: 5px;
        margin-right: 5px;
    }
}