/*-------------------------------------------------------- My Account section */

.account-img {
    background: url('/static/images/about_hero_image.jpg') no-repeat center;
    background-size: cover;
    width: 100%;
    min-height: 400px;
}

.retreat-overview {
    max-height: 450px;
    overflow-y: auto;
    border: #251D1D 2px solid;
    border-bottom: #251D1D 2px solid;
}

.retreat-overview i {
    margin-right: 40px;
}

/* Scrollbar always visible courtesy of: https://stackoverflow.com/questions/1202425/making-the-main-scrollbar-always-visible */
.retreat-overview::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

.retreat-overview::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #251D1D;
  opacity: 50%;
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

.user-title {
    color: #6494A6;
}

/*-------------------------------------------------------- My Details section */

.order-history {
    max-height: 416px;
    overflow-y: auto;
}

#profile-update-form .form-control {
    color: #251D1D;
}

#profile-update-form input::placeholder {
    color: #614A42;
}

#id_default_country,
#id_default_country option:not(:first-child) {
    color: #251D1D;
}

#id_default_country option:first-child {
    color: #614A42;
}

/*-------------------------------------------------------- Reservations section */

table thead {
    color: #6494A6;
}

.table td, .table th {
    border-top: 1px solid #251D1D;
}

.table thead th {
    border-bottom: 2px solid #251D1D;
}

/*-------------------------------------------------------- Media queries section */

@media screen and (max-width: 450px){
    .retreat-overview i {
        display: none;
    }
    .retreat-overview p {
        font-size: 20px !important;
    }
    #new-blog-form{
        padding: 5% !important;
    }   
}
@media screen and (min-width: 767px) and (max-width: 1036px){
    #profile-form {
        padding: 5% !important;
    }
    #profile-form button {
        width: 240px;
    }
}

