#container {
    min-height: 100%;
    position: relative;
}

/*
.header-container {
        padding-top: 90px;
    }
    */

/*-------------------------------------------------------- Font & font styles*/

.standard-title {
    font-family: 'Poiret One', cursive;
    font-size: 40px;
    color: #251D1D;
}


/*-------------------------------------------------------- Menu styles*/

.menu-style {
    padding-top: 0px;
    opacity: 100%;
    min-height: 60px;
}

#logo-design {
    font-size: 40px;
    text-decoration: none;
}
