#container {
    min-height: 100%;
    position: relative;
}

/*
.header-container {
        padding-top: 90px;
    }
    */

/*-------------------------------------------------------- Font & font styles*/

.standard-title {
    font-family: 'Poiret One', cursive;
    font-size: 40px;
    color: #251D1D;
}


/*-------------------------------------------------------- Menu styles*/

.sticky-top {
    padding: 0px;
}

.menu-style {
    opacity: 100%;
    min-height: 50px;
    background-color: #F2F4F9;
}

.navbar-nav .dropdown-menu {
    background-color: #F2F4F9;
}

.navbar-light .navbar-nav .nav-link {
    color: #251D1D;
    font-family: 'Poiret One', cursive;
    font-size: 20px;
}

#logo-design {
    font-size: 40px;
    text-decoration: none;
}
