<div class="col-10 offset-1 col-md-10 offset-md-3 mt-3">
    <h2 class="standard-title">Add a new post below:</h2>
</div>
<div class="col-10 offset-1 col-md-6 offset-md-3 mt-3">
    <div class="form-box mb-5 mt-3">
        <form action="{% url 'new_blog' %}" method="POST" id="new-blog-form">
            {% csrf_token %}
            {{ blog_form|crispy }}
            <div class="text-center mt-5">
                <button class="standard-btn dark-btn">Add post</button>
            </div>
        </form>
    </div>
</div>