<div class="order-history table-responsive">
    <table class="table table-sm table-borderless standard-text">
        <thead>
            <tr>
                <th>Booking Number</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
                <tr>
                    <td>
                        <a class="standard-text" href="{% url 'order_history' order.order_number %}">
                            {{ order.order_number }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>