{% for blog_post in blog_posts %}
    <div class="col-12 col-md-10 ml-md-5 mt-5 mb-3">
        <h2 class="standard-title">{{ blog_post.title }}</h2>
    </div>
    <div class="col-12 col-md-3 ml-md-5">
        <p class="standard-text">{{ blog_post.date_added }}</p>
    </div>
    <div class="col-12 col-md-8">
        <p class="standard-text">{{ blog_post.thought_content }}</p>
    </div>
    {% if request.user.is_superuser %}
        <!--Delete blog post modal-->
        <div class="col-12 col-md-3 ml-md-4">
            <a class="btn {% if forloop.last or blog_post.count == 1 %} mb-5 {% endif %}" data-toggle="modal" data-target="#deleteBlogModal">Delete</a>
            <div class="modal fade" id="deleteBlogModal" tabindex="-1" role="dialog" aria-labelledby="deleteBlogModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title standard-title" id="deleteBlogModalLabel">Delete</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p class="standard-text text-center">Are you sure you want to delete this blog post: {{ blog_post.title }}?</p>
                        </div>
                        <div class="modal-footer">
                            <a type="button" class="btn btn-secondary" data-dismiss="modal">Close</a>
                            <a type="button" href="{% url 'delete_blog' blog_post.id %}" class="btn btn-primary remove-item">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Edit blog post modal-->
        <a class="btn text-left ml-md-5" data-toggle="modal" data-target="#editBlogModal">Edit</a>
        <div class="modal fade" id="editBlogModal" tabindex="-1" role="dialog" aria-labelledby="editBlogModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title standard-title" id="editBlogModalLabel">Edit Post</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p class="standard-text">{{ blog_post.title }}</p>
                        <form class="form update-form" action="" method="POST">
                            {% csrf_token %}
                            <div class="form-row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <label for="title{{ blog_post.blog_post_id }}" class="standard-text">Title: </label>
                                            <input name="title" id="post{{ blog_post.blog_post_id }}" data-item_id="{{ blog_post.blog_post_id }}" 
                                            type="text" class="form-control"
                                            value="{{ blog_post.title }}"  required>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <label for="content{{ blog_post.blog_post_id }}" class="standard-text">Thought content: </label>
                                            <input name="content" id="content{{ blog_post.blog_post_id }}" data-item_id="{{ blog_post.blog_post_id }}" 
                                            type="text" class="form-control"
                                            value="{{ blog_post.thought_content }}"  required>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary update-blog" name="submit-blog-update" data-item_id="{{ blog_post.blog_post_id }}">Save changes</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

    {% endif %}
{% endfor %}