<div class="standard-padding">
    <p class="standard-title text-center blue-title">Welcome back {{ profile.user.username }}!</p>
    <p class="standard-text">Scroll down to view the booking numbers of all your earlier reservations. You can also view and update your account 
    details on this page.</p>
    <p class="standard-text">Another little reminder that you'll also find messages from the hotel owner at the bottom of the page with the latest
    news and updates from the team at Hotel Eko!</p>
</div>