{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

<!--Sets this template as current page in the menu-->
{% block nav_reservations %} active-menu {% endblock %}

<!--Adds extra title for current page-->
{% block extra_title %}- Sign Out{% endblock %}

{% block inner_content %}
<div class="auth-form-container">
    <h2 class="standard-title pt-4">{% trans "Sign Out" %}</h2>

    <p>{% trans 'Are you sure you want to sign out?' %}</p>

    <form method="post" action="{% url 'account_logout' %}">
    {% csrf_token %}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
    {% endif %}
    <div class="text-center">
        <button type="submit" class="standard-btn dark-btn">{% trans 'Sign Out' %}</button>
    </div>
    </form>

    <p class="mt-4">Return to  
    <a href="{% url 'profile' %}">My Details</a></p>

</div>
{% endblock %}
