{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

<!--Adds extra title for current page-->
{% block extra_title %}- Sign Up{% endblock %}

{% block inner_content %}
<div class="auth-form-container">
    <h2 class="standard-title standard-padding">{% trans "Sign Up" %}</h2>


    <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
    {% csrf_token %}
    {{ form|crispy }}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <button type="submit">{% trans "Sign Up" %} &raquo;</button>
    </form>

    <p>{% blocktrans %}Already have an account? <a href="{{ login_url }}">Sign in here</a>.{% endblocktrans %}</p>

</div>
{% endblock %}
