{% extends "base.html" %}
{% load static %}
{% load retreat_tools %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'retreat/css/retreat.css' %}">
{% endblock %}

<!--Sets this template as current page in the menu-->
{% block nav_reservations %} active-menu {% endblock %}
{% block nav_retreat %} active-menu {% endblock %}

{% block content %}
    <!--Title section-->
    <div class="container-fluid">
        <div class="row standard-header-box">
            <div class="col-12">
                <h1 class="standard-title box-title text-center">My Retreat</h1>
            </div>
        </div>
    </div>
    {% if retreat_items %}
        {% include 'retreat/includes/retreat-details.html' %}
    {% else %}
        {% include 'retreat/includes/no-retreat.html' %}
    {% endif %}
{% endblock %}

{% block postloadjs %}
{{ block.super }}

<!--Javascript inspired by CI Boutique Ado module-->

<script type="text/javascript">
    // Update retreat item quantity
    $('.update-quantity').click(function(e) {
        const form = $(this).parent().prev().children("form.update-form");
        form.submit();
    })

    // Remove item and reload page
    $('.remove-item').click(function(e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var url = `/retreat/remove/${itemId}/`;
        var data = {'csrfmiddlewaretoken': csrfToken};

        $.post(url, data)
         .done(function() {
             location.reload();
         });
    })
</script>
{% endblock %}
