{% extends "base.html" %}
{% load static %}

{% block extra_css %}
{% endblock %}

{% block content %}
    <!--Title section-->
    <div class="container-fluid">
        <div class="row standard-header-box">
            <div class="col-12">
                <h1 class="standard-title box-title text-center">My Retreat</h1>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            {% if retreat_items %}
                    {% include 'retreat/includes/retreat_details.html' %}
            {% else %}
                <div class="col-12">
                    <h2 class="standard-title">You haven't added anything to your retreat yet!</h2>
                    <p class="standard-text">Unsure of what to add? Begin by having a look through our 
                    <a class="" href="{% url 'all_stay_services' %}">Stay</a>, 
                    <a class="" href="{% url 'all_relax_services' %}">Relax</a> and 
                    <a class="" href="{% url 'all_eat_services' %}">Eat</a> options
                    to decide what you would like your retreat to include.</p>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}