{% extends "base.html" %}
{% load static %}
{% load retreat_tools %}

{% block extra_css %}
{% endblock %}

{% block content %}
    <!--Title section-->
    <div class="container-fluid">
        <div class="row standard-header-box">
            <div class="col-12">
                <h1 class="standard-title box-title text-center">My Retreat</h1>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            {% if retreat_items %}
                    {% include 'retreat/includes/retreat_details.html' %}
            {% else %}
        </div>
    </div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2 class="standard-title text-center standard-padding">You haven't added anything to your retreat yet!</h2>
                </div>
                <div class="col-12 col-lg-6 offset-lg-3">
                    <p class="standard-text">Unsure of what to add? Begin by having a look through our 
                    <a class="" href="{% url 'all_stay_services' %}">Stay</a>, 
                    <a class="" href="{% url 'all_relax_services' %}">Relax</a> and 
                    <a class="" href="{% url 'all_eat_services' %}">Eat</a> options
                    to decide what you would like your retreat to include.</p>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}

<!--Javascript inspired by CI Boutique Ado module-->

<script type="text/javascript">
    // Update retreat item quantity
    $('.update-quantity').click(function(e) {
        const form = $(this).parent().prev().children("form.update-form");
        form.submit();
    })

    // Remove item and reload page
    $('.remove-item').click(function(e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var url = `/retreat/remove/${itemId}/`;
        var data = {'csrfmiddlewaretoken': csrfToken};

        $.post(url, data)
         .done(function() {
             location.reload();
         });
    })
</script>
{% endblock %}
