<!--No retreat contents message-->
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-10 offset-md-1">
            <h2 class="standard-title text-center pt-5 mt-3 mt-md-5">You haven't added anything to your retreat yet!</h2>
        </div>
    </div>
    <div class="row no-retreat">
        <div class="col-11 col-lg-6 offset-lg-3 pb-5 mb-5 mt-5">
            <p class="standard-text">Unsure of what to add? Begin by having a look through our Stay, Relax and Eat options
            listed below.
            </p>
            <p class="standard-text">And while you're here, be sure to check out our user reviews on the 
                <a  href="{% url 'about' %}">About</a> page and read the latest news from the hotel owner on 
                your <a href="{% url 'profile' %}">My Details</a> page
            </p>
        </div>   
    </div>
</div> 
<!--Links section-->
<div class="container-fluid">
    <div class="row standard-header-box">
        <div class="col-12">
            <h1 class="standard-title box-title text-center">Start browsing now.</h1>
        </div>
    </div>
</div>
<div class="container-fluid links-img">
    <div class="row center-align text-center">
        <div class="col-12 col-lg-4 mt-lg-5">
            <a class="btn standard-btn dark-btn" href="{% url 'all_stay_services' %}">Stay</a>
        </div>
        <div class="col-12 col-lg-4 mt-lg-5">
            <a class="btn standard-btn dark-btn" href="{% url 'all_relax_services' %}">Relax</a>
        </div>
        <div class="col-12 col-lg-4 mt-lg-5">
            <a class="btn standard-btn dark-btn" href="{% url 'all_eat_services' %}">Eat</a>
        </div>
    </div>
</div>