{% load retreat_tools %}

<div class="col-12">
    {% for item in retreat_items %}
        <h2 class="standard-title text-left ml-md-5">{{ item.service.name }}</h2>

        <!--Edit quantity modal-->
        <a class="btn standard-text text-left ml-md-5" data-toggle="modal" data-target="#editModal{{ item.item_id }}">Edit</a>
        <div class="modal fade" id="editModal{{ item.item_id }}" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title standard-title" id="editModalLabel">Edit quantity</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p class="standard-text">Current quantity: {{ item.quantity }}</p>
                        <form class="form update-form" action="{% url 'update_retreat' item.item_id %}" method="POST">
                            {% csrf_token %}
                            <div class="form-row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <div class="input-group w-100">
                                            <label for="id_qty_{{ item.item_id }}" class="standard-text">Updated quantity: </label>
                                            <input name="quantity" id="id_qty_{{ item.item_id }}" data-item_id="{{ item.item_id }}" 
                                            type="number" min="1" max="10" class="form-control"
                                            value="{{ item.quantity }}"  required>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary update-quantity" name="submit-update" data-item_id="{{ item.item_id }}">Save changes</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <!--Delete item modal-->
        <a class="btn standard-text text-left ml-md-5" data-toggle="modal" data-target="#deleteModal">Delete</a>
        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title standard-title" id="deleteModalLabel">Delete {{ item.service.name }}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p class="standard-text text-center">Are you sure you want to delete this item from your Retreat?</p>
                    </div>
                    <div class="modal-footer">
                        <a type="button" class="btn btn-secondary" data-dismiss="modal">Close</a>
                        <a type="button" class="btn btn-primary remove-item" id="remove_{{ item.item_id }}">Delete</a>
                    </div>
                </div>
            </div>
        </div>

        <!--Shows contents of retreat-->
        {% if item.service.is_stay == True %}
            <p class="standard-text text-center">Room type: {{ item.service.name }}</p>
            <p class="standard-text text-center">Maximim number of guests: {{ item.service.no_of_guests }}</p>
            <p class="standard-text text-center">Breakfast included: {{ item.service.has_breakfast|yesno:"Yes,No" }}</p>
            <p class="standard-text text-center">Number of nights booked: {{ item.quantity }}</p>
            <p class="standard-text text-center">Price per night: {{ item.service.price|floatformat:2 }}kr</p>
        {% elif item.service.is_relax == True %}
            <p class="standard-text text-center">Treatment type: {{ item.service.name }}</p>
            <p class="standard-text text-center">Length of treatment: {{ item.service.length }}</p>
            <p class="standard-text text-center">Signature scents used: {{ item.service.scents }}</p>
            <p class="standard-text text-center">Number of guests: {{ item.quantity }}</p>
            <p class="standard-text text-center">Price per treatment: {{ item.service.price|floatformat:2 }}kr</p>
        {% elif item.service.is_eat == True %}
            <p class="standard-text text-center">Menu type: {{ item.service.name }}</p>
            <p class="standard-text text-center">Source of protein: {{ item.service.protein }}</p>
            <p class="standard-text text-center">Number of courses: {{ item.service.no_of_courses }}</p>
            <p class="standard-text text-center">Number of guests: {{ item.quantity }}</p>
            <p class="standard-text text-center">Price per menu: {{ item.service.price|floatformat:2 }}kr</p>
        {% endif %}
            <br>
            <p class="standard-text text-center">Subotal: {{ item.service.price | calc_subtotal:item.quantity | floatformat:2 }}kr </p>
            <p class="standard-text text-center">View details:
                <a href="{% url 'service_detail' item.service.id %}" aria-label="{{ item.service.name }}">
                    {{ item.service.name }}
                </a>
            </p>
    {% endfor %}
</div>

<!--Total price and checkout button-->
<div class="col-12 text-center standard-padding">
    <h2 class="standard-title">Total price: {{ total|floatformat:2 }}kr</h2>
</div>
<div class="col-12 text-center standard-padding">
    <a href="{% url 'checkout' %}" class="btn">Checkout</a>
</div>
