{% extends 'base.html' %}

{% load static %}

<!--Adds extra title for current page-->
{% block extra_title %}- 404 Page Not Found{% endblock %}

{% block content %}
<div class="container-fluid auth-hero-img">
    <div class="row">
        <div class="col-12 col-md-10 offset-md-1">
            <div class="form-box mt-5 text-center">
                <h3 class="standard-title">Oops, it looks like you've reached a dead end!</h3>
                <p class="standard-text">The page that you're trying to access either doesn't exist or is temporarily undergoing service.</p>
                <p class="standard-text">If you think that you've ended up here in error, please send us an email at 
                contact@hotelekoexample.com and we'll get back to you soon.</p>
                <div class="text-center">
                    <a class="btn standard-btn dark-btn mb-3 mt-3" href="{% url 'home' %}">Home</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}