{% load static %}
<!doctype html>
<html lang="en">
  <head>
    {% block meta %}
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css2?family=Cardo&family=Poiret+One&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
        <!--Scripts in header to ensure they load as quickly as possible-->
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>Hotel Eko {% block extra_title %}{% endblock %}</title>
  </head>
  <body>
    <div id="container">
    <header class="container-fluid fixed-top">
        <nav class="navbar navbar-expand-md navbar-light navbar-bg">
            <a class="standard-title" id="logo-design" href="{% url 'home' %}">Hotel Eko</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse menu-font" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item mr-2">
                            <a class="nav-link" href="{% url 'home' %}">Home</a>
                        </li>
                        <li class="nav-item mr-2">
                            <a class="nav-link" href="">About</a>
                        </li>
                        <li class="nav-item mr-2">
                            <a class="nav-link" href="">Stay</a>
                        </li>
                        <li class="nav-item mr-2">
                            <a class="nav-link" href="">Relax</a>
                        </li>
                        <li class="nav-item mr-2">
                            <a class="nav-link" href="">Eat</a>
                        </li>
                        <li class="list-inline-item dropdown">
                            <a class="text-black nav-link" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">My Account
                            </a>
                            <div class="dropdown-menu border-0" aria-labelledby="user-options">
                            {% if request.user.is_authenticated %}
                                <a class="nav-link" href="">My Profile</a>
                                <a class="nav-link" href="">My Retreat</a>
                                {% if request.user.is_superuser %}
                                    <a class="nav-link" href="">Product Management</a>
                                {% endif %}
                                    <a class="nav-link" href="{% url 'account_logout' %}">Sign Out</a>
                            {% else %}
                                <a class="nav-link" href="{% url 'account_login' %}">Sign In</a>
                                <a class="nav-link" href="{% url 'account_signup' %}">Register</a>
                            {% endif %}
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
    </header>

    {% if messages %}
        <div class="message-container"></div>
    {% endif %}

    {% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
            </div>
        </div>
    </div>
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block postloadjs %}
    {% endblock %}

    </div>
  </body>
</html>