{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'about/css/about.css' %}">
{% endblock %}

<!--Sets this template as current page in the menu-->
{% block nav_about %} active-menu {% endblock %}

{% block content %}
    <!--Hero image section-->
    <div class="container-fluid about-hero-img">
        <div class="row">
            <div class="col d-flex justify-content-end text-sm-left pr-0 pl-0">
                <div class="top-title">
                    <h1 class="standard-title">About</h1>
                </div>
            </div>
        </div>
    </div> 
    <!--Introduction section-->
    <div class="container-fluid">
        <div class="row standard-header-box">
            <div class="col-12">
                <h1 class="standard-title box-title text-center">Your stay, your way.</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-6 ml-5 ml-lg-0 introduction-bg">
                <h2 class="standard-title mt-5">Morning hike or a cup of tea?</h2>
                <p class="standard-text mt-5 mb-5 mr-5">We believe that the best experiences are those that 
                we create ourselves. We’ve therefore built our whole hotel concept with you 
                in mind. From the freedom to let you design your own retreat, to the locally sourced 
                ingredients used in our kitchen and to our careful choice of organic products 
                used in our spa. Our attention to detail means that you can focus on what 
                matters most to you: creating a retreat to meet your specific needs.</p>
            </div>
            <div class="col-12 col-lg-6 organic-img">
            </div>
        </div>
    </div>
    <!--Reviews section-->
    <div class="container-fluid">
        <div class="row standard-header-box">
            <div class="col-12">
                <h1 class="standard-title box-title text-center">What our guests have said about us.</h1>
            </div>
        </div>
        <div class="row">
            {% if not reviews %}
                {% include 'about/includes/no-reviews.html' %}
            {% else %}
                {% include 'about/includes/user-reviews.html' %}
            {% endif %}
            {% include 'about/includes/new-review-form.html' %}
        </div>
    </div>
    <!--Steps section-->
    <div class="container-fluid">
        <div class="row standard-header-box mt-5">
            <div class="col-12">
                <h1 class="standard-title box-title text-center">Get started with three steps.</h1>
            </div>
        </div>
        {% include 'about/includes/booking-steps.html' %}
    </div>
    <!--Links section-->
    <div class="container-fluid">
        <div class="row standard-header-box">
            <div class="col-12">
                <h1 class="standard-title box-title text-center">Start browsing now.</h1>
            </div>
        </div>
    </div>
    <div class="container-fluid links-img">
        <div class="row center-align text-center">
            <div class="col-12 col-lg-4 mt-lg-5">
                <a class="btn standard-btn dark-btn" href="{% url 'all_stay_services' %}">Stay</a>
            </div>
            <div class="col-12 col-lg-4 mt-lg-5">
                <a class="btn standard-btn dark-btn" href="{% url 'all_relax_services' %}">Relax</a>
            </div>
            <div class="col-12 col-lg-4 mt-lg-5">
                <a class="btn standard-btn dark-btn" href="{% url 'all_eat_services' %}">Eat</a>
            </div>
        </div>
    </div>
{% endblock %}