<div class="row mt-5">
    <div class="col-2 col-md-2 col-lg-3 mt-0 mr-5 text-right">
        <h2 class="standard-title step-title">1.</h2>
    </div>
    <div class="col-8 col-md-8 col-lg-6 mt-5">
        <p class="standard-text">Get inspired by browsing through our collection of hotel rooms, spa treatments and dinner options. </p>
    </div>
</div>
<div class="row mt-1">
    <div class="col-2 col-md-2 col-lg-3 mt-0 mr-5 text-right">
        <h2 class="standard-title step-title">2.</h2>
    </div>
    <div class="col-8 col-md-8 col-lg-6 mt-5">
        <p class="standard-text">Create an account, login and select your choices by adding them to your own retreat itinerary. You can return to view these at any time 
        by signing in again later. </p>
    </div>
</div>
<div class="row mt-1 mb-5">
    <div class="col-2 col-md-2 col-lg-3 mt-0 mr-5 text-right">
        <h2 class="standard-title step-title">3.</h2>
    </div>
    <div class="col-8 col-md-8 col-lg-6 mt-5">
        <p class="standard-text">Complete your purchase with a secure payment through Stripe. Once booked, our friendly reception team will get in touch with you to select your arrival date.</p>
    </div>
</div>