{% if request.user.is_authenticated %}
<div class="col-12 col-md-10 offset-md-1 mt-5 mb-5">
    <div class="form-box">
        <h2 class="standard-title mb-5 mt-3 text-center">Add a new review below:</h2>
        <form class="" action="{% url 'new_review' %}" method="POST" id="new-blog-form">
            {% csrf_token %}
            {{ review_form|crispy }}
            <div class="text-center">
                <button class="standard-btn dark-btn mt-3 mb-5">Add post</button>
            </div>
        </form>
    </div>
</div>
{% else %}
<div class="col-12 text-center mt-5 pl-5 pr-5">
    <p class="standard-text">Want to leave a review about us? Please either <a href="{% url 'account_login' %}">Sign In</a> or
    <a class="" href="{% url 'account_signup' %}">Register</a> to add your feedback here.</p>
</div>
{% endif %}