{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'services/css/services.css' %}">
{% endblock %}

{% block content %}
    <!--Hero image section-->
    <div class="container-fluid {% if stay %} stay-hero-img {% elif eat %} eat-hero-img {% elif relax %} relax-hero-img {% endif %}">
        <div class="row">
            <div class="col d-flex justify-content-end pr-0 pl-0">
                <div class="top-title">
                    <h1 class="standard-title"> {% if stay %} Stay {% elif eat %} Eat {% elif relax %} Relax {% endif %} </h1>
                </div>
            </div>
        </div>
    </div> 
    <!--Title section-->
    <div class="container-fluid">
        <div class="row standard-header-box">
            <div class="col-12">
                {% if stay %}
                    <h1 class="standard-title box-title text-center">Our Hotel Rooms</h1>
                {% elif eat %}
                    <h1 class="standard-title box-title text-center">Our Set Menus</h1>
                {% elif relax %}
                    <h1 class="standard-title box-title text-center">Our Spa Treatments</h1>
                {% endif %}
            </div>
        </div>
    </div>
    <!--Card section-->
    <div class="container-fluid">
        {% if stay %}
            {% include 'services/includes/stay-card.html' %}
        {% elif eat %}
            {% include 'services/includes/eat-card.html' %}
        {% elif relax %}
            {% include 'services/includes/relax-card.html' %}
        {% endif %}
    </div>
{% endblock %}