{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'services/css/services.css' %}">
{% endblock %}

{% block content %}
    <!--Hero image section-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <img class="img-fluid feature-img" src="{{ service.image.url }}" alt="{{ service.name }}">
            </div>
        </div>
    </div> 
<!--Title section-->
    <div class="container-fluid">
        <div class="row standard-header-box">
            <div class="col-12">
                <h1 class="standard-title box-title text-left">{{ service.name }}</h1>
            </div>
        </div>
    </div>
    <!--Detail section-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-6 standard-padding">
                <ul>
                    {% if service.is_stay %}
                        {% include 'services/includes/stay_details.html' %}
                    {% elif service.is_relax %}
                        {% include 'services/includes/relax_details.html' %}
                    {% elif service.is_eat %}
                        {% include 'services/includes/eat_details.html' %}
                    {% endif %}
                </ul>
            </div>
            {% if request.user.is_authenticated %}
                <form class="form" action="{% url 'add_to_retreat' service.id %}" method="POST">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="col-12">
                                {% if service.is_stay %}
                                    <p class="standard-text">Number of nights:</p>
                                {% elif service.is_relax or service.is_eat %}
                                    <p class="standard-text">Number of guests:</p>
                                {% endif %}
                                <div class="form-group w-50">
                                    <div class="input-group">
                                        <input class="form-control qty_input" type="number" name="quantity" value="1" min="1" max="10" data-item_id="{{ service.id }}" id="id_qty_{{ service.id }}">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <input type="submit" class="btn" value="Add to My Retreat">
                            </div>
                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                            <input type="hidden" name="service_category" value="{{ service.category }}">
                        </div>
                    </form>
            {% else %}
                <div class="col-12 col-md-6 standard-padding">
                    <h3 class="standard-text">Ready to book your retreat?</h3>
                    <h3 class="standard-text"><a href="{% url 'account_login' %}">Sign in</a> or <a href="{% url 'account_signup' %}">register</a> to start creating your retreat.</h3>
                </div>
            {% endif %}
        </div>
    </div>
    <!--Return to overview link section-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 text-center standard-padding standard-text">
                {% if service.is_stay %}
                    <a href="{% url 'all_stay_services' %}">Return to all Stay options</a>
                {% elif service.is_relax %}
                    <a href="{% url 'all_relax_services' %}">Return to all Relax options</a>
                {% elif service.is_eat %}
                    <a href="{% url 'all_eat_services' %}">Return to all Eat options</a>
                {% endif %}
            </div>
        </div>
    </div>
    
{% endblock %}