{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'services/css/services.css' %}">
{% endblock %}

{% block content %}
    <!--Hero image section-->
    <div class="container-fluid about-hero-img">
        <div class="row">
            <div class="col d-flex justify-content-end pr-0">
                <div class="top-title">
                    <h1 class="standard-title">Stay</h1>
                </div>
            </div>
        </div>
    </div> 
    <!--Title section-->
    <div class="container-fluid">
        <div class="row standard-header-box">
            <div class="col-12">
                <h1 class="standard-title box-title text-center test">Our hotel rooms</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
            {% for stay in stay %}
                <div class="feature-img">
                    <img class="img-fluid" src="{{ stay.image.url }}" alt="{{ stay.name }}">
                </div>
                <h3 class="standard-title">{{ stay.name }}</h3>
                <h3 class="">Learn More</h3>
            {% endfor %}
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row standard-header-box">
            <div class="col-12">
                <h1 class="standard-title box-title text-center">Your stay, your way.</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-8 offset-lg-2">
                <p class="standard-text">We believe that the best experiences are those that 
                we create ourselves. We’ve therefore built our whole hotel concept with you 
                in mind. From the freedom to let you design your own retreat, to the organic 
                ingredients used in our kitchen and to our careful choice of organic products 
                used in our spa. Our attention to detail means that you can focus on what 
                matters most to you: creating a retreat to meet your specific needs.</p>
            </div>
        </div>
    </div>
{% endblock %}