{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'services/css/services.css' %}">
{% endblock %}

{% block content %}
    <!--Hero image section-->
    <div class="container-fluid stay-hero-img">
        <div class="row">
            <div class="col d-flex justify-content-end pr-0">
                <div class="top-title">
                    <h1 class="standard-title">Stay</h1>
                </div>
            </div>
        </div>
    </div> 
    <!--Title section-->
    <div class="container-fluid">
        <div class="row standard-header-box">
            <div class="col-12">
                <h1 class="standard-title box-title text-center">Our hotel rooms</h1>
            </div>
        </div>
    </div>
    <!--Feature section-->
    <div class="container-fluid">
    <!--|dictsort:"no_of_guests" -->
        {% for stay in stay %}
            <div class="row">
                <div class="col-12 col-md-6">
                    <img class="img-fluid feature-img" src="{{ stay.image.url }}" alt="{{ stay.name }}">
                </div>
                <div class="col-12 col-md-6">
                    <h3 class="standard-title">{{ stay.name }}</h3>
                    <h3 class="text-right standard-text learn-more-link">
                        <a href="{% url 'stay_details' stay.id %}">Learn More</a>
                    </h3>
                    {% if request.user.is_authenticated %}
                        <h3 class="text-right standard-text learn-more-link">
                            <a href="">Book Now</a>
                        </h3>
                        {% if request.user.is_superuser %}
                            <h3 class="text-right standard-text learn-more-link">
                                <a href="">Edit Feature</a>
                            </h3>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}